.App {
  text-align: left;
  background-color: #456dd7;
}


.container {
  border-radius: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-header {
  background-color: #000107;
  height: 150px;
  padding: 20px;
  color: #d7ddd4;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inline
{
  border-color: #ff1c29;
  display:flex;
}
