.App {
	text-align: left;
	background-color: #eeeeee;
	font-family: 'Source Sans Pro', sans-serif;
}

.App-bar {
	background-color: #273e7a;
	z-index: 5 !important;
	font-size: 40px;

	font-family: 'Titillium Web', sans-serif;
}

.header {
	cursor: pointer;
	padding-left: 15px;
	color: #fffef6;
}

.app-footer {
	background-color: #273e7a;
	z-index: 5 !important;
	font-family: 'Titillium Web', sans-serif;
	height: 100px;
	line-height: 100px;
	display: flex;
	justify-content:center;
	align-content:center;
	margin-top: 200px;
}

.footer {
	padding-left: 15px;
	color: #fffef6;
	font-size: 15px;
}


.App-bar-sticky {
	background-color: #273e7a;
	align-items: center;
	padding-left: 15px;
	z-index: 99 !important;
	height: 50px;
	box-shadow: 0 6px 4px 0 rgba(114, 114, 114, 0.2);
}



.App-bar-btn {
	background-color: #3460a6;
	/*z-index: 99 !important;*/
	/*height: 30px;*/
	/*flex-direction: row;*/
	/*align-items: center;*/
	/*display:inline-block;*/
	width: 180px;
	/*border-radius: 5px;*/
	/*margin-left: 10px;*/
}





/* for the date picker only */
html {
	font-size: 17px;
}

.date-input {
	font-size:15px;
	/*padding:10px 10px 10px 5px;*/
	/*display:block;*/
	width:150px;
	border:none;
	border-bottom:1px solid #c1c1c1;
	margin-bottom: 18px;
}

.delete-btn {
	/*padding-bottom: 2px;*/
	height: 30px;
	/*text-align-all: center;*/
	/*align-content: center;*/
	/*justify-items: center;*/
	/*align-items: center;*/
}



.container {
	border-radius: 5px;
}

.App-logo {
	animation: App-logo-spin infinite 2s linear;
	height: 10px;
}

.App-header {
	background-color: #000107;
	height: 150px;
	padding: 20px;
	color: #d7ddd4;

}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.form-header {
	display: block;
	font-size: 25px;
	margin-bottom: 20px;
}


@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.inline {
	border-color: #ff1c29;
	display: flex;
}


.modal {
	background-color: #fefefe;
	width: 80%; /* Could be more or less, depending on screen size */
}

.blur {
	/* Any browser-- which supports CSS3 */
	filter: blur(3px);
}

.opaque {
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	filter: brightness(40%);
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}